*{
    margin: 0;
    padding:0;
}
.paper {
    background-color: #212121;
}

.container{
    margin-top: 30px;
    width: 95%;
}

.section-title {
    color: #f5f5f5;
}
.description {
    color: #b3e5fc;
}