body {
    background-color: #212121;
}
.paper {
    background-color: #fafafa;
}

.container{
    width: 95%;
    margin-top: 10%;
}

.section-title {
    color: #757575;
    text-align: center;
}
.description {
    color: #002171;
    text-align: center;
    padding: 10px;
}
a {
    text-decoration: none;
}

.card{ 
    background-color: #fafafa;
}

.category,
.card-title,
.project-name {
    font-weight: bold;

}
 
.button {
    background-color: #e3f2fd;
}