* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(
    to bottom,
    #2196f3 1%,
    #fafafa 6%
    );

    background-size: 100% 20px;
}

img {
    border-radius: 50%;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.paper {
    background-color: #fafafa;
}

.container{
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-title {
    color: #616161;
    text-align: center;
    cursor: default;
}

.section-subtitle {
    text-align: center;
    cursor: default;
}
.description {
    color: #212121;
    text-align: center;
}

.card{ 
    background-color: #fafafa;
    border: solid 2px #212121;
    cursor: default;
}

.company {
    cursor: default;
}
.category,
.card-title,
.project-name {
    font-weight: bold;
    cursor: default;
}
 
.button {
    background-color: #e3f2fd;
}

/*Styling for icons in Coding Toolbox*/
.devicon-github-plain-wordmark, 
.devicon-javascript-plain,
.devicon-react-original-wordmark,
.devicon-bootstrap-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-php-plain,
.devicon-visualstudio-plain {
    font-size: 150px;
}

/*Adjust alignment of icons*/
.coding-skills {
    text-align: center;
}


  