body {
    background-color: #fafafa;
}

.paper {
    background-color: #fafafa;
}

.container{
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-title {
    color: #757575;
    text-align: center;
}

.section-subtitle {
    text-align: center;
}
.description {
    color: #002171;
    text-align: center;
}
a {
    text-decoration: none;
}

.card{ 
    background-color: #fafafa;
}

.category,
.card-title,
.project-name {
    font-weight: bold;

}
 
.button {
    background-color: #e3f2fd;
}

/*Styling for icons in Coding Toolbox*/
.devicon-github-plain-wordmark, 
.devicon-javascript-plain,
.devicon-react-original-wordmark,
.devicon-bootstrap-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-php-plain,
.devicon-visualstudio-plain {
    font-size: 150px;
}

/*Adjust alignment of icons*/
.coding-skills {
    text-align: center;
    padding-bottom: 50px;
}